:root {
  --font-family2: "Raleway", sans-serif;
  --color1: #2196f3;
  --color2: #212121;
  --color3: #188ce8;
  --color4: #ffffff;
  --color5: #2f303a;
  --color6: #757575;
  --color7: #f5f4fa;
  --team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-gap: 30px;
}

header {
  border-bottom: 1px solid #ececec;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

addres {
  font-style: normal;
}
a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--color6);
  font-size: 14px;
}
.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*---------------HEADER (INDEX & PORTFOLIO)----------------*/
/* --------------BOX---------------- */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-header {
  display: flex;
  margin-left: 93px;
}

.site-header .item:not(:last-child) {
  margin-right: 50px;
}

.site-header .header-link .header-contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-header {
  display: flex;
  margin-left: auto;
}

.contact-header .item + .item {
  margin-left: 50px;
}

.contact-header .header-link .header-contact {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* --------------BOX---------------- */

.header-logotip {
  text-decoration: none;
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color1);
}

.header-logotip-two {
  color: #000000;
}

.header-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color2);
  padding: 32px 0;
  display: block;
}

.header-link:hover {
  color: var(--color1);
}

.header-link:focus {
  color: var(--color1);
}

.current {
  color: var(--color1);
}

.header-contact {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color6);
}

.header-contact:hover {
  color: var(--color1);
}

.header-contact:focus {
  color: var(--color1);
}
/*------------HEADER (INDEX & PORTFOLIO)-----------*/

/*------------MAIN (INDEX)------------*/

/* -----------CAP----------- */
.main-sctn-one {
  background-color: var(--color5);
  text-align: center;
  padding: 200px 0;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.one-capital {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--color4);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.main-button {
  font-style: inherit;
  background-color: var(--color1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color4);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main-button:focus {
  background-color: var(--color3);
}

.main-button:hover {
  background-color: var(--color3);
}
/* -----------CAP----------- */

/* -----------FEATURES----------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--color2);
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features-link {
  width: calc((100% - (3 * var(--card-gap))) / 4);
}

.features-link:not(:nth-child(4n)) {
  margin-right: var(--card-gap);
}
.features-link:not(:nth-last-child(-n + 4)) {
  margin-bottom: var(--card-gap);
}

.features .three-capital-features {
  margin-bottom: 10px;
}

.three-capital-features {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color2);
}

.main-paragraph-features {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* -----------FEATURES----------- */

/* ------------WhatWeDo---------- */

.main-sctn-three {
  padding-top: 0;
}

.wwd {
  display: flex;
}

.wwd > .wwd-item + .wwd-item {
  margin-left: var(--card-gap);
}
/* ------------WhatWeDo---------- */
/* ---------Our team--------- */

.maun-sctn-four {
  background-color: var(--color7);
}

.team-set {
  display: flex;
}

.team-card {
  width: calc((100% - (3 * var(--card-gap))) / 4);
  box-shadow: var(--team-card-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color4);
}

.team-card:not(:nth-last-child(4)) {
  margin-left: var(--card-gap);
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.maun-sctn-four .three-capital-team {
  margin-bottom: 10px;
  text-align: center;
}

.maun-sctn-four .main-paragraph-team {
  text-align: center;
}
/* ---------Our team--------- */
.two-capital {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color2);
  margin-bottom: 50px;
}

.three-capital-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color2);
}

.main-paragraph-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/*-------MAIN (INDEX)-------*/

/*------------MAIN (PORTFOLIO)------------*/


.main-button-port, .secondary {
  font-family: "Roboto", sans-serif;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--color2);
  padding: 6px 22px;
  background-color: var(--color7);
  border-radius: 4px;
  border: none;
}

.main-button-port .secondary:hover {
  color: var(--color4);
  background-color: var(--color1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-button-port .secondary:focus {
  color: var(--color4);
  background-color: var(--color1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter.list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter .item + .item {
  margin-left: 8px;
}

button.current {
  color: var(--color4);
  background-color: var(--color1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ------------BUTTON-------- */
/* -----------CARDS--------- */

.examples-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}

.card-content {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.examples-cards > .item {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.work-examples .three-capital-cards {
  margin-bottom: 4px;
}

.three-capital-cards {
  font-weight: 700;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color2);
}

.main-paragraph-cards {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

/*------------MAIN (PORTFOLIO)------------*/

/*-------FOOTER (INDEX & PORTFOLIO)-----*/

footer {
  background-color: var(--color5);
  padding: 60px 0;
}

.bottom .footer-logotip {
  display: block;
  margin-bottom: 20px;
}

.bottom-panel .item + .item {
  margin-top: 9px;
}

.footer-logotip {
  text-decoration: none;
  font-family: var(--font-family2);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color1);
}

.footer-logotip-two {
  font-family: var(--font-family2);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color4);
}

.footer-link-city {
  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color4);
}

.footer-link-connection {
  text-decoration: none;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*-------FOOTER (INDEX & PORTFOLIO)-----*/
